BACKEND_URL=http://127.0.0.1:3001
BACKEND_TIMEOUT_MS=1500
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_BESTCROW_PROGRAM_ID=EousWVK2cePYb9zvv1oWSca4VNdRQqYef8CsxQ6BL57R
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
